<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	
<h1>Collect Student Information</h1>
<form action="/studentAdd" method="GET">
    Student Name: <input type="text" name="name"> <br>
    ID: <input type="number" name="id"> <br>
    Courses: <input type="text" name="one"><br>
    <input type="text" name="two"><br>
    <input type="text" name="three"><br>
    <input type="text" name="four"><br>

    Student Type: <input type="checkbox" name="coop">Co-op<br>
    <input type="checkbox" name="fulltime">Full Time Student<br>
    <input type="checkbox" name="paid">Paid Tuition<br>

    <input type="submit" value="Submit">
</form>



</body>
</html>